body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

h1, h2 {
    background-color: #f1c40f;
    color: #333;
    margin: 0;
    padding: 20px;
    text-align: center;
}

#strDrinkThumb {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 300px; 
    height: auto;
}

input[type="text"] {
    display: block;
    width: calc(100% - 40px);
    padding: 10px;
    margin: 20px auto;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    display: inline-block;
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    margin: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#cocktail {
    display: block;
    width: calc(100% - 40px); 
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#cocktail h2 {
    margin: 0;
    padding: 0;
}

#instructionsTitle {
    margin: 10px 0;
}

#strInstructions {
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
